/project/.idea/compiler.xml
/project/.idea/encodings.xml
/project/.idea/jarRepositories.xml
/project/.idea/misc.xml
/project/.idea/modules.xml
/project/.idea/project.iml
/project/.idea/vcs.xml
/project/.idea/workspace.xml
